@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
  --side-board-color: #7e22ce;
  --main-color: #faf5ff;
  --project-bg-color: #ddd6fe;
  --shadow-color: #b4b4bb;
  --project-font-color: #666666;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.symbol {
  font-size: 28px;
}

.layout-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4.5fr;
}

.header-container {
  grid-column: 2;
  background-color: var(--main-color);
  padding-left: 40px;
  box-shadow: 0 10px 10px -6px var(--shadow-color);
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.sidebar-container {
  grid-row: 1 / -1;
  background-color: var(--side-board-color);
  color: var(--main-color);
  padding-left: 30px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto auto 1fr;
  gap: 30px;
}

.logo-container {
  color: var(--main-color);
  font-size: 28px;
  font-weight: bold;
}

#logo-symbol {
  font-size: 48px;
}

.sidebar-symbol {
  padding-left: 10px;
  padding-right: 20px;
}

.navbar,
.support {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li,
.support li {
  padding: 10px 0;
  font-weight: bold;
}

#search-bar {
  width: 400px;
  height: 25px;
  border: 2px solid var(--side-board-color);
  border-radius: 15px;
  padding: 0 12px;
  overflow: hidden;
  font-size: 18px;
}

.notification {
  justify-self: flex-end;
  padding-right: 80px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
}

.notification button {
  background-color: var(--main-color);
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.notification .symbol {
  padding: 0;
}

.notification button:hover,
.hello-user button:hover {
  background-color: inherit;
}

.user-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.hello-user {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 50px;
  position: relative;
  bottom: 10px;
}

.hello-user p {
  margin: 0;
  padding: 0;
}

.hello-user #hello-img {
  grid-row: 1 / 3;
  height: 72px;
  width: 72px;
  align-self: center;
}

#hello-name {
  grid-column: 2;
  grid-row: 2;
  justify-self: flex-start;
}

#say-hi {
  font-size: 16px;
  padding-top: 25px;
}

#hello-name {
  font-size: 28px;
}

.functionality {
  height: 100%;
  padding-right: 60px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  justify-self: flex-end;
  gap: 40px;
}

.functionality button {
  background-color: var(--side-board-color);
  color: var(--main-color); 
  border: none;
  height: 50px;
  width: 120px;
  border-radius: 30px;
  align-self: center;

  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.projects-container {
  padding-left: 20px;
  background-color: var(--project-bg-color);

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-outheader {
  margin: 0;
  font-size: 20px;
  padding: 20px 0px 10px 0px;
}

.projects {
  grid-row: 1 / -1;
  grid-column: 1;
}

.projects-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 30px;

}

.projects-display .project-container {
  background-color: var(--main-color);
  border-radius: 15px;
  box-shadow: 2px 4px 4px 2px var(--shadow-color);
  padding-right: 30px;

  display: grid;
  grid-template-columns: 8px 1fr;
  grid-template-rows: 1fr 48px;
  column-gap: 20px;
}

.project-side-color {
  grid-column: 1;
  grid-row: 1 / -1;
  height: 100%;
  background-color: orange;
  border-radius: 15px 0 0 15px;
}

.project {
  grid-column: 2;
  grid-row: 1;
  font-size: 16px;
}

.project-name {
  font-size: 18px;
  padding-top: 30px;
  margin: 0;
}

.project-describe {
  font-weight: 300;
  color: var(--project-font-color);
}

.annoucement {
  grid-column: 2;
  grid-row: 1;
}

.project-interactive { 
  justify-content: flex-end;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 20px;
}

.news-wrapper{
  background-color: var(--main-color);
  font-size: 16px;  
  margin: 0 35px;
  padding: 30px 30px 0 30px;
  border-radius: 15px;
  box-shadow: 2px 4px 4px 2px var(--shadow-color);
}

.news {
  padding-bottom: 30px;
}

.news-header {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.news-article {
  font-size: 14px;
  color: var(--project-font-color)
}

.annoucement .project-outheader,
.trending .project-outheader {
  padding-left: 35px;
}

.trends-container {
  background-color: var(--main-color);
  margin: 0  35px;
  padding: 30px 30px 10px 30px;
  border-radius: 15px;
  box-shadow: 2px 4px 4px 2px var(--shadow-color);
}

.trend {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 24px 24px;
  column-gap: 20px;
  margin-bottom: 20px;
}

.trending-user {
  grid-row: 1 / -1;
  grid-column: 1;
}

.trending-username {
  display: inline;
  grid-column: 2;
  grid-row: 1;
}

.trending-describe {
  color: var(--project-font-color);
  font-weight: 300;
}

  
